body {
	background-color: #BFD8D2;
}

#inicio{
	background-color: #00BFFF;
}

#Projetos {
	background-color: #FEDCD2;
	text-align: justify;
}

#Apresentações {
	background-color: #BFD8D2;
}

#Origamis{
	background-color: #FEDCD2;
}

#Love_in_my_life {
	background-color: #BFD8D2;
}

#Contato{
	background-color: #BFD8D2;
}

#Instagram {
	color: #DF744A;
}

#Facebook {
	color: #DF744A;
}

#tituloprojetos {
	background-color: #FFFFFF;
	text-align: center; 
	font-family: 'Karla', sans-serif;
	font-family: 'Lobster', cursive;
}

.nome{
	text-align: center;
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	
}

.name{
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	list-style: none;

}

p{
	font-family: 'Karla', sans-serif;
	color: #000000
	text-align: justify;

}

#habilidades{
	font-family: 'Karla', sans-serif;
	color: #000000
	
}

#tituloprojeto{
	font-family: 'Karla', sans-serif;
	color: #000000;
	
}

.col-sm{
	text-align: center;
}

.col-sm img{
	border-radius: 10%;
  	height: 200px;
 	width: 270px; 
  	object-fit: cover; 
}

.col-6{
	background-color: #BFD8D2;
}

.col-3 img{
  border-radius: 10%;
  height: 200px;
  width: 270px; 
  object-fit: cover; 
}

.base{
	width: 1400px;
	height: 20px;
	margin: 70px auto;
	position: relative;
}

.base ul{
	list-style: none;
}

.base ul li{
	float: left;
}

.base label{
	width: 200px;
	padding: 25px;
	background-color: #363b48;
	display: block;
	cursor: pointer;
	text-align: center;
}

.base a{
	color: #fff;
}

.rd_navegador{
	display: none;
}

ul{
	margin-bottom: 0; 
}


