body {
	background-color: #BFD8D2;
}

#inicio{
	background-color: #00BFFF;
}

#Projetos {
	background-color: #FEDCD2;
	text-align: justify;
}

#Apresentações {
	background-color: #BFD8D2;
}

#Origamis{
	background-color: #FEDCD2;
}

#Love_in_my_life {
	background-color: #BFD8D2;
}

#Contato{
	background-color: #BFD8D2;
}

#Instagram {
	color: #DF744A;
}

#Facebook {
	color: #DF744A;
}

#EJECT {
	color: #DF744A;
}

#tituloprojetos {
	background-color: #FFFFFF;
	text-align: center; 
	font-family: 'Karla', sans-serif;
	font-family: 'Lobster', cursive;
}

.nome{
	text-align: center;
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	
}

.name{
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	list-style: none;

}

p{
	font-family: 'Karla', sans-serif;
	color: #000000
	text-align: justify;

}

#habilidades{
	font-family: 'Karla', sans-serif;
	color: #000000
	
}

#tituloprojeto{
	font-family: 'Karla', sans-serif;
	color: #000000;
	
}

#navegação{
	background-color: 363b48;
}

.col-sm{
	text-align: center;
}

.col-sm img{
	border-radius: 10%;
  	height: 200px;
 	width: 270px; 
  	object-fit: cover; 
}

.col-6{
	background-color: #BFD8D2;
}

.col-md-3 img{
  border-radius: 10%;
  height: 200px;
  width: 270px; 
  object-fit: cover; 
}

.col-sm-3 img{
  border-radius: 10%;
  height: 200px;
  width: 270px; 
  object-fit: cover; 
}

.rd_navegador{
	display: none;
}

ul{
	margin-bottom: 0; 
}


